@media screen and (width: 800px) {
	.sidenav-brand span{
		color: #00a8ff;
		font-weight: bold;
	} 
}
@media screen and (width: 1024px) {
	.sidenav-brand span{
		color: #00a8ff;
		font-weight: bold;
	} 
}
@media screen and (width: 1280px) {
	.sidenav-brand span{
		color: #00a8ff;
		font-weight: bold;
	} 
}
@media screen and (width: 1366px) {
	.sidenav-brand span{
		color: #00a8ff;
		font-weight: bold;
	}
}
@media screen and (width: 1366px) {
	.sidenav-brand span{
		font-size: 17px;
	}
}
@media screen and (width: 1400px) {
	.sidenav-brand span{

	}
}
@media screen and (width: 1440px) {
	.sidenav-brand span{

	}
}
@media screen and (width: 1600px) {
	.sidenav-brand span{

	}
}
@media screen and (width: 1680px) {
	.sidenav-brand span{

	}
}
@media screen and (width: 1920px) {
	.sidenav-brand span{
		font-size: 23px;
	}
}