.sidenav {
  background: #212121;
  opacity: 0.9;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  left: 0;
  position: fixed;
  overflow-y:scroll;
  transform: translate(-1000px, 0);
  transition: transform .5s;
  top: 0;
  width: 22%;
  z-index: 1000;
}
.sidenav .sidenav-center{
  width:90%;
  height: inherit;
  margin:0 5%;
}
.sidenav.show {
  transform: translate(0, 0); 
}

.sidenav-brand {
  line-height: 72px;
 }
 .sidenav-brand span{
  color: #00a8ff;
  font-weight: bold;
 }
.sidenav .sidenav-center .sidenav-search{
  overflow: hidden;
}
.sidenav .sidenav-center .sidenav-search .search-input{
  display: block;
  float: left;
  width:80%;
  height:26px;
  border:none;
  color:#000;
  padding-left: 10px;
}
.sidenav .sidenav-center .sidenav-search .search-icon{
  display:inline-block;
  width:13%;
  height: 28px;
  background:#00a8ff;
  text-align: center;
}
.sidenav .sidenav-center .sidenav-search .search-icon img{
  margin-top:1px;
}
.sidenav .sidenav-center .sidenav-switch{
  margin:30px 0 15px 0;
}
.sidenav .sidenav-center .sidenav-switch div{
  display: inline-block;
  width:30%;
  height: 25px;
  text-align: center;
  background: #fff;
  color:#000;
  line-height: 25px;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}
.sidenav .sidenav-center .sidenav-select-toponymy .classify-input{
  width:90%;
  height: 22px;
  border:1px solid #fff;
  background:inherit;
  padding-left: 10px;
  color:#fff;
}
.sidenav .sidenav-center .sidenav-select-toponymy .classify-toponymy label{
  display: block;
  color:#fff;
  margin-left: 10px;
  margin-top:8px;
  font-size: 14px;
}
.sidenav .sidenav-select-toponymy .classify-toponymy label select{
  background: inherit;
  width:40%;
  height: 20px;
  color: #fff;
}
.sidenav .sidenav-select-toponymy .classify-toponymy label select option{
  color: #000;
  background: #fff;
}
.sidenav .sidenav-center .sidenav-select-toponymy .toponymy-big{
 
}
.sidenav .sidenav-center .sidenav-select-toponymy .toponymy-small{
  
}
.sidenav .sidenav-center .sidenav-select-toponymy .select-word{
  margin:20px 0;
}
.sidenav .sidenav-center .sidenav-select-toponymy .word-input{
  width:90%;
  height: 22px;
  border:1px solid #fff;
  background:inherit;
  color:#fff;
  padding-left: 10px;
}
.sidenav .sidenav-center .sidenav-select-toponymy .word-query{
  margin-left: 10px;
}
.sidenav .sidenav-center .sidenav-select-toponymy .word-query .query-input{
  width:65%;
  height: 18px;
  border:1px solid #fff;
  background:inherit;
  color:#fff;
  padding-left: 10px;
  margin-top:10px;
}
.sidenav .sidenav-center .sidenav-select-toponymy .word-query div.query-toponymy{
  width:25%;
  height: 22px;
  text-align: center;
  background: #fff;
  line-height: 22px;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
  margin-top:5px;
}
.sidenav .sidenav-center .sidenav-select-toponymy .select-city{
  position: relative;
}
.sidenav .sidenav-center .sidenav-select-toponymy .select-city .city-input{
  width:90%;
  height: 22px;
  border:1px solid #fff;
  background:inherit;
  color:#fff;
  padding-left: 10px;
}
.sidenav .sidenav-center .sidenav-select-convenience table{
  width:96%;
  margin-top:25px;
}
.sidenav .sidenav-center .sidenav-select-convenience table tr{
  line-height: 20px;
}
.sidenav .sidenav-center .sidenav-select-convenience table td{
  /*border:1px solid #fff;*/
  text-align: center;
  color:#fff;
  width: 25%;
  vertical-align: bottom;
}
.sidenav .sidenav-center .sidenav-select-convenience table td a{
  display: block;
  text-decoration: none;
}
.sidenav .sidenav-center .sidenav-select-convenience table td a p{
  margin:0;
  font-size: 11px;
  color:#fff;
}
.sidenav .sidenav-center .sidenav-select-convenience table td a img{
  width:50%;
  height: 50%;
}
.switched{
  background: #00a8ff!important;
  color:#fff!important;
}












.sidenav-header {
  background: transparent;
  border-bottom: 1px solid #424242;
  color: #757575;
  font-size: 19.2px;
  line-height: 32px;
  margin: 0;
  padding: 16px 24px 15px; }
  .sidenav-header small {
    display: block;
    font-size: 14.4px;
    line-height: 16px; }

.sidenav-menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .sidenav-menu li {
    display: block;
    position: relative; }
  .sidenav-menu a {
    background: transparent;
    color: #BDBDBD;
    display: block;
    line-height: 24px;
    padding: 16px 32px;
    text-decoration: none; }
    .sidenav-menu a:hover {
      background: #616161; }
    .sidenav-menu a.active {
      color: #FAFAFA; }
      .sidenav-menu a.active .sidenav-link-icon,
      .sidenav-menu a.active .sidenav-dropdown-icon {
        color: #FAFAFA; }

.sidenav-link-icon {
  color: #757575;
  display: block;
  height: 24px;
  left: 24px;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 24px; }

.sidenav-link-title {
  display: block;
  padding: 0 16px 0 40px; }

.sidenav-dropdown {
  border-bottom: 1px solid #424242;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0; }
  .sidenav-dropdown a {
    background: #191919;
    padding-left: 72px; }
    .sidenav-dropdown a:hover {
      background: #616161; }
  .sidenav-dropdown li:first-child a {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }

.sidenav-dropdown-icon {
  color: #757575;
  display: none;
  height: 16px;
  right: 16px;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 16px; }
  .sidenav-dropdown-icon.show {
    display: block; }

/*.sidenav-overlay {
  background: rgba(255, 255, 255, 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }*/

.sidenav-no-scroll {
  overflow: hidden !important; }
