


html,body{
	width: 100%;
	height: 100%;
	font-size: 16px;
	overflow: hidden;
}
#map{
	width: inherit;
	height: inherit;
}
.container{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
}
.toggle{
	position: absolute;
	top:50px;
	left: 30px;
}

